<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/jvmprovic/css/reset.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/jvmprovic/css/base.css') }}">
        {% endblock %}
    </head>
    <body>
    	<div id="wraper">
    		<header>header
    		<div id="topmenu">
				<ul id="ulmenu">{% block limenu %}{% endblock %}</ul>
			</div>
			</header>
            <sidebar>
           		{% block sidebar %}base sidebar{% endblock %}
           	</sidebar>
           	<content>
           		{% block content %}content base{% endblock %}
           	</content>

		</div>
        <footer>
			{% block foocontent %}footer{% endblock %}		
		</footer>
        	{% block javascripts %}{% endblock %}
        
    </body>
</html>
