{% extends 'JvmProvicBundle::layout.html.twig' %}
{% block cnsidebar %}
		<div class="sbcontent">sidebar</div>
{% endblock %}
{% block cncontent %}
		<div class="cncontent">content</div>
{% endblock %}
{% block cnfooter %}
		<div class="foocontent">footer</footer></div>
{% endblock %}