{% extends '::base.html.twig' %}

{% block title %}Прювет{% endblock %}

	{% block limenu %}	
		<li class="limenu">menu</li>
		<li class="limenu">menu</li>
		<li class="limenu">menu</li>
		<li class="limenu">menu</li>
		<li class="limenu">menu</li>
	{% endblock %}

	
	{% block sidebar %}base sidebar{% endblock %}
	
	
	
	
